body {
    margin: 0;
    padding: 0;
    background-color: #7F3800;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

/*Navigation bar stylings*/

.topnav {
    background-color: black;
    overflow: hidden;
    font-family: 'Century Gothic', sans-serif;
}

.topnav a {
    float: left;
    color: #F2F2F2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/*Navigation bar hover*/

.topnav a:hover {
    background-color: whitesmoke;
    color: black;
}

.profilepic {
    width: 400px;
    background: rgba(0, 0, 0, 0.5);
    padding: 50px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: bisque;
    font-family: 'Gill Sans', sans-serif;
}

.profilepic-img {
    border-radius: 50%;
    width: 220px;
    height: 220px;
}

.profilepic h1 {
    font-size: 45px;
    letter-spacing: 4px;
    font-weight: 100;
    
}

.profilepic h3 {
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: 100;
}

profilepic p {
    text-align: justify;
    
}

/*Social media icons styling*/

.social {
  display: inline-flex;
  justify-content: center;
}

.social i {
  padding: 10px;
  text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.6);
  transition: all ease-in-out 100ms;
}

.social a:nth-child(1) {
  color: #FF670D;
}

.social a:nth-child(2) {
  color: #FF670D;
}

.social i: hover {
  margin-top: -3px;
  text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
}
